@import url('https://fonts.googleapis.com/css?family=Bitter:700|Open+Sans');
body {
  font-family: 'Bitter', serif;
}

.sidenav {
  height: 100%;
  width: 232px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -232px;
  background: #ffe521;
  padding-top: 26px;
  overflow-x: hidden;
  transition: 0.5s;
}

.content {
  transition: margin-left 0.5s;
  margin-left: 0px;
  padding: 26px 18px;
}

button {
  border: none;
  outline: none;
}

button:hover {
  outline: none;
}

button:focus{
  outline: none;
}

.logocontainer {
  text-align: center;
}

.logo {
  width: 156px;
}

.user-img {
  margin-top: 38px;
  margin-left: 73px;
  object-fit: cover;
  border-radius: 50%;
  height: 86px;
  width: 86px;
}

.user-name {
  margin-top: 6px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 1.3;
}

.user-type {
  font-family: 'Open Sans', sans-serif;
  margin-top: 6px;
  text-align: center;
  font-size: 11px;
}

.sidemenu {
  margin-top: 40px;
  font-size: 24px;
}

.dropdown {
  display: none;
}

.menuButton {
  padding-right: 20px;
  padding-left: 37px;
  width: 100%;
  height: 45px;
  font-family: 'Bitter', serif;
  font-size: 24px;
  text-align: right;
  background: #ffe521;
  cursor: pointer;
}

.menuButton.active {
  color: white;
  text-align: left;
  background: #ff009e;
}

.menuButton:hover {
  color: white;
  background: #ff009e;
}


.panel {
  display: none;
}

.submenuButton {
  padding-right: 20px;
  border: none;
  width: 100%;
  height: 45px;
  font-family: 'Bitter', serif;
  font-size: 18px;
  text-align: right;
  background: #ffe521;
  cursor: pointer;
}

.submenuButton:hover {
  color: black;
  background: #56f89a;
}

.toggle-btn {
  float: left;
}

.toggle-btn .fa-angle-double-right{
  font-size: 35px;
}

header p {
  padding-top: 7px;
  height: 100px;
  padding-left: 50px;
}

h1{
  font-size: 48px;
}

hr{
  width: 100%;
  background: #ffe521;
  border: 0;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.contentdata{
  margin-left:50px;
}

.grid2x2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  grid-gap: 40px;
}

.grid2x2 > div > div {
  position: relative;
  top: 40%;
  text-align: center;
}

.buttoncohort{
  border-radius: 17px;
  background: #ffe521;
  height: 165px;
  font-size: 18px;
  cursor: pointer;
}

.buttoncohort:hover{
  transition: 250ms;
  background: #ff009e;
  color:white;
}

.subtext{
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

input{
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: 0;
  background:#ffe521;
  border-radius: 5px;
  width: 320px;
  height: 31px;
  color: black;
  font-size:18px;
  padding: 5px;
}

.buscarText{
  font-family: 'Bitter', serif;
  font-size: 25px;
}

#contentpanel{
  overflow-x: auto;
  overflow-y: hidden;
  vertical-align: center;
  -webkit-appearance: none
}

.users>div{
  height: 43px;
}

.users>div:nth-child(even){
  background-color: white;
}

.users>div:nth-child(odd){
  background-color: #ECECEC;
}

.topsearchmenu{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size:12px; 
  background: #ffe521;
  position: sticky;
  top:0;
  display: grid;
  height: 35px;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}

.user{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  font-weight: bold;
  padding: 5px;
}

.searcharea{
  display: none;
}

#usersArea{
  display: none;
}

.sortbutton{
  user-select: none;
  padding-left: 2px;
  cursor: pointer;
  line-height: 35px;
}

.sortbutton:hover{
  background:#ff009e;
  color: white;
}

.loader {
  margin: auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #ff009e;
  border-bottom: 8px solid #ff009e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.close{
  position: absolute;
  top: 4px;
  right: 7px;
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .content{
    padding: 10px 10px;
  }

  header p {
    height: 40px;
    padding-left: 35px;
  }

  .contentdata{
    margin-left: 0px;
  }

  h1{
    font-size: 25px;
  }

  h2{
    font-size: 13px;
  }

  hr{
    margin-top: 8px;
  }

  p{
    font-size: 14px;
  }

  .toggle-btn .fa-angle-double-right{
    font-size: 25px;
  }

  .menuButton{
    padding-right: 10px;
    font-size: 20px;
    height: 35px;
  }
  
  .sidemenu{
    margin-top:30px;
  }

  .buttoncohort{
    font-size:12px;
  }

  .buscarText{
    font-size: 15px;
  }

  .topsearchmenu{
    height: auto;
  }

  input{
    margin-top: 5px;
    width:200px;
    font-size:12px;
    height: 15px;
    border-radius: 2px;
  }

  .sortbutton{
    padding-left: 1px;
    line-height: 20px;
    font-size:10px;
  }

  .fa-sort{
    display: none;
  }

  .users>div{
    height: 35px;
  }

  .user{
    font-size: 10px;
    padding: 2px;
    text-align: center
  }
  
  .buttoncohort{
    margin: 0px;
    border-radius: 15px;
  }

  .grid2x2{
  grid-gap: 10px;
  }
}