* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    background-color: #FAFAFA;
    font-family: sans-serif;
}


.User{    
    width: 60%;
    height: auto;
    
    
}

.logo{    
    width: 30%;
    height: auto;
    display: block;
       
    
}


.boxMenu{
    position: absolute;
    display: inline-block;
    background-color: #FFE521;
    width: 20%;
    height: 1000px; 
}

#cohorts{
    left: 300px;
    position: relative;
}
/* div{
    width: 80%;
    height: 20px;
   

} */
.boxcenter{
    justify-content: center;
    position: relative;
    left: 300px;
    display: inline-block;
    align-items: center;
    background-color: #fff;
    text-align: center; 
    width: 27%;
    padding: 50px;
    font-size: 17px;

}


.button-filter {
    position: relative;
    background-color: #fff;
    text-align: center;    
    font-size: 16px;
    font-weight: bold;
    color: #000;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    width: 90%;
    height: auto;
    left: 10px;
    

}

.button-filter:hover {
    background-color: #FF009E;
    color: #fff;
}

/* .button{
    background-color: #FFE521;
    position: absolute;
    text-align: center;    
    font-size: 16px;
    color: #000;
    padding: 15px 32px;
    cursor: pointer;
    border: none;
    top: 0;
    width: 20%;
    height: auto;
    : 0px;
    

} */


.boxBody{
    background-color:#F4F6F6;
    width: 81%;
    height: 505px;
    

}

/* @media screen and (max-width: 768px){
    boxMenu{
        widows: 10%;
        height: 50%;
    }
}

@media screen and (max-width: 320px){
    boxMenu{
        widows: 20%;
        height: 50%;
    }
} */